body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  text-decoration: none;
}

button {
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  letter-spacing: 0.04em;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  color: #2e2f42;
  text-align: center;
}

h2 {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

p {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

img {
  display: block;
}

/* ============ Helper Components ============ */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.icon {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 120px 0;
}

.section-title {
  margin-bottom: 72px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

/* Icon colors for service icons */
.services-icon-container .icon {
  --icon-primary-color: #2e2f42;
  --icon-accent-color: #4d5ae5;
}

/* ============ Header Components ============ */

.header-section {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 2px 1px 0px #2e2f4214;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-accent {
  color: #2e2f42;
}

/* Navigation */

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  position: relative;
  margin: 0;
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}

.nav-link:active {
  color: #404bbf;
}

/* Address */

.address {
  margin-left: auto;
  font-style: normal;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  display: block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* ============ Hero Section ============ */

.hero-section {
  position: relative;
  max-width: 1440px;
  padding: 188px 0;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-title {
  color: #ffffff;
  max-width: 496px;
}

.hero-button {
  background-color: #4d5ae5;
  padding: 16px 32px;
  min-width: 169px;
  gap: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ============ Our Services section ============ */

.services-list {
  display: flex;
  gap: 24px;
}

.services-item {
  width: calc((100% - 72px) / 4);
}

.services-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.services-item-title {
  margin-bottom: 8px;
}

/* ============ Our Team section ============ */

.team-section {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}

.team-item-content {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-member-name {
  margin-bottom: 8px;
  text-align: center;
}

.team-item-text {
  margin-bottom: 8px;
  text-align: center;
}

.team-social-links-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: #404bbf;
}

.team-social-icon {
  fill: #f4f4fd;
  color: #f4f4fd;
}

/* ============ Our Portfolio section ============ */

.portfolio-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text {
  transform: translateY(0);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-content {
  padding: 32px 16px;
  gap: 8px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-title {
  margin-bottom: 8px;
}

/* ============ Footer section ============ */

.footer-section {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-container {
  margin-right: 120px;
}

.footer-logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo .logo-accent {
  color: #f4f4fd;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}
.footer-social-media-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-social-links-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
  color: #f4f4fd;
}
