# Operating System Files
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
*~

# Editor and IDE Files
# VS Code
.vscode/
*.code-workspace

# Sublime Text
*.sublime-project
*.sublime-workspace

# Atom
.atom/

# IntelliJ IDEA / WebStorm
.idea/
*.iml
*.iws
*.ipr

# Vim
*.swp
*.swo
*~
